.data-list{
  & .data-title{
    margin: 70px 0;
    font-size: 1.6rem;
    color: #999999;
    & .loaded-data-title{
      font-size: 2rem;
      color: #666;
    }
    & .loading-data-title{
      font-size: 2rem;
    }
  }
}

@media (max-width:1024px){
  .data-list{
    & .data-title{
      margin-top: 40px;
      font-size: 1.5rem;
    }
  }
}

@media (max-width:768px){
  .data-list{
    & .data-title{
      font-size: 1rem;
    }
  }
}