@import './toolkit';

.pie-chart-warp{
  width: 100%;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  & > .chart-body{
    position: relative;
    & .chart-body-value{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.8rem;
      color: #fff;
    }
    & .chart-body-item{
      width: 150px;
      height: 150px;
      margin: 0 auto;
      @include radius(50%);
    }
  }
}

@media (max-width:1024px){
  .pie-chart-warp{
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (max-width:768px){
  .pie-chart-warp{
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width:480px){
  .pie-chart-warp{
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}