footer{
  width: 100%;
  text-align: center;
  padding: 40px 0;
  color: #999;
  flex-shrink: 0;

  & a,
  & a:active,
  & a:focus :hover,
  & a:link,
  & a:visited {
    color: #999;
    text-decoration: underline;
  }
}